CREATE USER ${app_username} WITH
  LOGIN
  PASSWORD '${app_password}';


GRANT singers_app TO postgres;


CREATE DATABASE singers WITH
  OWNER = ${app_username}
  ENCODING = 'UTF8';


GRANT ALL PRIVILEGES ON DATABASE singers TO ${app_username};
